<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/public/post.css">
</head>
<body>
    <h1><%= post.title %></h1>
    <img src="/coding.png" alt="Coding Image" style="max-width: 40%; height: 40%;">
    <p><%= post.content %></p>

    <a href="/posts">← Back to all posts</a>
    <script src="/public/main.js"></script>

</body>
</html>
